/* shared style */
* {
  font-family: "Work Sans", sans-serif;
}
.text-light-gray {
  color: #727272;
}
.btn-primary {
  /* width: 180px;
  height: 64px; */
  border-radius: 8px;
  background: #ff900e;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 24px;
  cursor: pointer;
  border: 0;
}
.btn-primary:hover {
  background: rgba(10, 10, 10, 0.1);
  color: #ff900e;
  transition: 0.3s;
}
/* Header section */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
.nav-menus {
  color: #424242;
  font-weight: 500;
  font-size: 1.2rem;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  color: #424242;
  text-decoration: none;
}
/* banner section */
.banner-content,
.sopnsors-section {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title,
sponsor-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 24px;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}

.banner img {
  width: 100%;
  margin-top: 30px;
}

/* teams style */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-contant {
  padding-right: 70px;
  padding-left: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick {
  font-weight: 500;
  color: #727272;
}
.teams-title .our {
  font-weight: 700;
  color: #131313;
}
.teams-title .text-feature {
  font-weight: 700;
  color: #ff900e;
}
/* feature seciton */
.features {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.ten-years {
  border-radius: 8px;
  background: #ff900e;
  padding: 40px;
  width: 342px;
  color: white;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.feature-img img{
  height: 90%;
  margin-left: 90px;
}
.ten-years h2{
  font-size: 4rem ;
  margin: 0;
}
.ten-years p{
font-size: 1.5rem;
}
.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #131313;
}
.feature-content .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}

/* facts section */
.facts-card-con .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-con .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-con .card-title {
  font-size: 1.2rem;
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
}
.facts-card-con {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}


/* sponsors section */
.sponsor-container {
  text-align: center;
}
.sponsor-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
.sponsor-description {
  color: #727272;
}
.sponsor-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}
.sponsor-img-container img {
  width: 165px;
}

  /* Footer section */
  .footer-con{
    border-radius: 8px;
background: #FFF4E7;
padding: 30px;
margin-bottom: 20px;
margin-left: 240px;
margin-right: 240px;

  }
  .footer-description{
    color: #424242;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }

/* responsive media queries */
/* Mobile Devices */
@media screen and (max-width: 576px) {
  header,
  .teams-contant,
  .facts-card-con {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-con,
  .sponsor-img-container,
  .features {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-contant,
  .facts-card-con,
  .facts-title-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .teams-container,
  .facts{
    text-align: center;
  }
  .facts-card-con {
    gap: 20px;
    margin-top: 36px;
  }
  .feature-img img{
    width: 100%;
    margin-left: 0;
  }
  .ten-years{
    position: static;
    max-width: 250px;
  }
  .footer-con,
  .footer-description{
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column;
  }
}
/* Tab / Medium Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header,
  .facts-title-section {
    padding: 50px;
  }
  nav,
  .teams-container,
  .teams-title,
  .sponsor-img-container,
  .facts-card-con,
  .features {
    flex-direction: column;
  }
  .facts-card-con{
    gap: 20px;
    margin-top: 20px;
  }
  .teams-container,
  
  .feature-img img {
    text-align: center;
  }
  .feature-img img{
    width: 100%;
    margin-left: 0;
  }
  .facts-card-con {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-con,
  .footer-description{
    margin: 0;
    padding: 0;
}
/* main style */
main {
  max-width: 1440px;
  margin: 70px auto;
}
